* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:#121212;
    }

.all {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    height: 20vh;
    padding-top: 4.5vh;
    text-align: center;
    font-size: 10vh;
    text-transform: uppercase;
    color: white;
    background-color: rgb(51, 2, 2);
}

nav {
    height: 8vh;
    padding-top: 1.52vh;
    padding-left: 0.33vw;
    background-color: #523c3c;
}

nav a {
    margin-top: 5vh;
    padding: 3px;
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none;
    border:6px solid black;
    border-radius: 6px;
    color: white;
    background-color: rgb(51, 2, 2);
}

main{
    height: 70vh;
    padding-top: 6vh;
    text-align: center;
    background-color: black;
}

img {
    height: 60vh;
    width: 27vw;
}

footer{
    height: 4vh;
    padding-top: 1.1vh;
    padding-right: 1vw;
    text-align: right;
    background-color: #523c3c;
}

.mail, .tel {
    display: inline;
    font-weight: bold;
    color: white;
}

.nr, .add {
    display: inline;
    text-decoration: none;
    color: white;
}